{
    "plugins": [
        "react-hot-loader/babel",
        "babel-plugin-syntax-flow",
        "babel-plugin-syntax-decorators",
        "babel-plugin-syntax-class-properties",
        "babel-plugin-immutable-record",
        "transform-decorators-legacy",
        "./plugins/babelRelayPlugin",

    ],
    "presets": [
        "react",
        "es2015",
        "stage-0"
    ]
}
